@media print {
    @page {
        margin-top: 0;
        margin-bottom: 0;
    }

    body {
        padding-top: 10em;
        padding-bottom: 10em;
    }

    .no-print-pivot button {
        display: none !important;
    }

    .no-print {
        display: none !important;
    }

    .yes-print,
    .yes-print * {
        display: block !important;
    }

    div.printable-page {
        margin-top: 5em;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }
}